<form>

  <div class="input">
    <label>What's your business's name?</label>
    <input type="text" placeholder="">
  </div>

  <div class="input">
    <label>What's the address of your business?</label>
    <input type="text" placeholder="Street">
    <div class="row">
      <input class="city" placeholder="City">
      <input class="state" placeholder="State">
    </div>
  </div>

  <div class="input">
    <label>In one sentence, what does your business do?</label>
    <textarea></textarea>
  </div>

  <div class="action">
    <a class="button" href="#">Something</a>
  </div>
</form>
