<form>
  <input type="text" placeholder="Name of business">
  <input type="text" placeholder="Address of business">


  <label>Have you ever owned another business? </label>
  <input type="radio" name="nobusiness" value="nobusiness"> No
  <input type="radio"  name="yesbusiness" value="yesbusiness"> Yes

  <label>Provide in detail the principal products or services you provide. Be concise</label>
  <textarea></textarea>
  <input type="submit" value="Submit">
</form>
