<div id="landing">
  <section id="first">
    <h1>Simple business set up.</h1>
    <p>Turn your freelance passion into a legitimate LLC in under 5 Minutes!</p>
  </section>

  <section id="second">
    <h2>Why Legit?</h2>
    <div class="features">
      <div class="feature">
        <div class="thumb">
          <img src="/assets/Simple.png">
        </div>
        <h3>Efficient</h3>
        <p>We give you everything you need to get your business legal-ready in 5 minutes.</p>
      </div>
      <div class="feature">
        <div class="thumb">
          <img src="/assets/secure.png">
        </div>
          <h3>Secure</h3>
          <p>With our tools, you won't have to worry about getting paid, or getting in trouble with the law. We're here with you, because we've been there.</p>

      </div>
      <div class="feature">
        <div class="thumb">
          <img src="/assets/affordable.png">
        </div>
          <h3>Affordable</h3>
          <p>We save you hours, if not months of time, with the lowest prices in the business.</p>
      </div>
    </div>
  </section>

  <section id="third">
    <h2>The third section!</h2>
    <div class="quad">
      <div class="point">
        <img src="/assets/Alec.jpg">
        <p class="quote">Anything that saves time, saves money. </p>
        <p class="name">- Alec Matias</p>
      </div>
      <div class="point">
        <img src="/assets/guy1.jpg">
        <p class="quote">...this product gives me peace of mind that everything is taken care of! -</p>
        <p class="name">-Thibaut Labarre</p>
      </div>
      <div class="point">
        <img src="/assets/Mary.jpg">
        <p class="quote">Starting a business is really overwhelming. Legit makes it easy.</p>
        <p class="name">- Mary Simonds</p>
      </div>
      <div class="point">
        <img src="/assets/Marion.jpg">
        <p class="quote">I hate paperwork, Legit does it for you!</p>
        <p class="name">- Marion Desmazieres</p>
      </div>
    </div>
  </section>

  <section id="fourth">
    <div class="content">
      <h2>We're freelancers too.</h2>
      <p>Wes Anderson aesthetic Shoreditch sartorial retro yr. Beard McSweeney's Portland organic. Vice Tonx VHS fanny pack, craft beer deep v whatever mlkshk stumptown irony chambray single-origin coffee Truffaut chillwave. Beard forage aesthetic quinoa chambray selfies McSweeney's. Pitchfork letterpress pour-over quinoa keytar, sriracha vegan tofu mlkshk whatever Vice.</p>
    </div>
    <p class="call-to-action">
      <a href="/package" class="call-to-action button">Ready to get started?</a>
    </p>
  </section>
</div>
