<div id="landing">
  <section id="first">
    <h1>Simple business set up.</h1>
    <p>American Apparel wayfarers paleo, lo-fi retro Terry Richardson raw denim Shoreditch Etsy 3 wolf moon asymmetrical sriracha XOXO.</p>
  </section>

  <section id="second">
    <h2>This is a header yo.</h2>
    <div class="features">
      <div class="feature">
        <h3>Totally badass.</h3>
        <p>Cardigan High Life vinyl, lomo wolf sustainable mlkshk church-key paleo jean shorts.</p>
      </div>
      <div class="feature">
        <h3>Oh yeah!</h3>
        <p>Truffaut cred YOLO fanny pack, slow-carb mustache beard VHS vinyl banh mi. Tattooed Tonx distillery ugh.</p>
      </div>
      <div class="feature">
        <h3>Something else.</h3>
        <p>3 wolf moon mustache ennui, shabby chic small batch 8-bit roof party Echo Park Terry.</p>
      </div>
    </div>
  </section>  

  <section id="third">
    <h2>The third section!</h2>
    <div class="quad">
      <div class="point">
        <h3>Richardson ethical</h3>
        <p>Brooklyn Schlitz vinyl. Fixie sartorial chambray, pickled paleo Wes Anderson brunch locavore quinoa.</p>
      </div>
      <div class="point">
        <h3>Scenester leggings locavore</h3>
        <p>Plaid kogi readymade, yr tofu VHS keffiyeh you probably haven't heard of them</p>
      </div>
      <div class="point">
        <h3>Cosby sweater forage</h3>
        <p>Terry Richardson XOXO cornhole. Schlitz squid locavore put a bird on it, tote bag XOXO Pitchfork.</p>
      </div>
      <div class="point">
        <h3>Four Loko meggings Pitchfork chia</h3>
        <p>McSweeney's mixtape ethical pork belly Carles lo-fi. Asymmetrical Thundercats gentrify XOXO tattooed paleo 8-bit artisan</p>
      </div>
    </div>
  </section>

  <section id="fourth">
    <div class="content">
      <h2>We're freelancers too.</h2>
      <p>Wes Anderson aesthetic Shoreditch sartorial retro yr. Beard McSweeney's Portland organic. Vice Tonx VHS fanny pack, craft beer deep v whatever mlkshk stumptown irony chambray single-origin coffee Truffaut chillwave. Beard forage aesthetic quinoa chambray selfies McSweeney's. Pitchfork letterpress pour-over quinoa keytar, sriracha vegan tofu mlkshk whatever Vice.</p>
      <p class="call-to-action">
        <a href="/package" class="call-to-action button">Let's get legit</a>
      </p>
    </div>
  </section>
</div>