<div id="pricing">

  <h1>What you get</h1>

  <ul>
    <li class="item">
      <h3>City business license</h3>
      <p>
        Hoodie cray iPhone, PBR bitters locavore mustache Banksy selfies tousled gastropub Carles letterpress. Kitsch farm-to-table Helvetica, yr tote bag bitters ethnic paleo +1 readymade
      </p>
    </li>
    
    <li class="item">
      <h3>City business license</h3>
      <p>
        Hoodie cray iPhone, PBR bitters locavore mustache Banksy selfies tousled gastropub Carles letterpress. Kitsch farm-to-table Helvetica, yr tote bag bitters ethnic paleo +1 readymade
      </p>
    </li>
    
    <li class="item">
      <h3>City business license</h3>
      <p>
        Hoodie cray iPhone, PBR bitters locavore mustache Banksy selfies tousled gastropub Carles letterpress. Kitsch farm-to-table Helvetica, yr tote bag bitters ethnic paleo +1 readymade
      </p>
    </li>
    
    <li class="item">
      <h3>City business license</h3>
      <p>
        Hoodie cray iPhone, PBR bitters locavore mustache Banksy selfies tousled gastropub Carles letterpress. Kitsch farm-to-table Helvetica, yr tote bag bitters ethnic paleo +1 readymade
      </p>
    </li>
    
  </ul>
  
</div>