<form>
  <div class="input">
    <label> What's your name? </label>
    <input type="text" placeholder="Name">
  </div>
  <div class="input">
    <label> What's your email? </label>
    <input type="text" placeholder="Email">
  </div>
  <div class="input">
    <label> What's your phone number? </label>
    <input type="text" placeholder="Phone">
  </div>
  <div class="input">
    <label>What's your address?</label>
    <input type="text" placeholder="Street">
    <div class="row">
      <input class="city" placeholder="City">
      <input class="state" placeholder="State">
    </div>
  </div>

  <div class="input">
    <label> What is your Social Security Number? </label>
    <input type="text">
  </div>

   <div class="action">
    <%= link_to 'Something' , business_path, { :class=>"button" } %>
  </div>
</form>
