<form>
  <div class="input">
    <input type="text" placeholder="Name">
  </div>
  <div class="input">
    <input type="text" placeholder="Email">
  </div>
  <div class="input">
    <input type="text" placeholder="Phone">
  </div>
  <div class="input">
    <input type="text" placeholder="Address">
  </div>

  <div class="input">
    <label> What is your Social Security Number? </label>
    <input type="text">
  </div>

   <div class="action">
    <%= link_to 'Something' , business_path, { :class=>"button" } %>
  </div>
</form>
