form {

  box-sizing: border-box;
  width: 960px * (1.0 / 2);
  margin: 0 auto;
  margin-top: 50px;
  border-radius: 20px;

  background-color: lighten(#b59fcc, 20%);
  padding: 20px;

  .input, .action {
    margin-top: 20px;
    margin-bottom: 20px;

    label, input, textarea {
      display: block;
      width: 100%;
      box-sizing: border-box;
      font-size: 18px;
      color: #393939;
      border-color: #b59fcc;

      &:focus {
        outline: none;
        box-shadow: 0 0 10px 0 transparentize(#563081, 0.75);
        border-color: transparentize(#563081, 0.2);
        transition: border-color 2s ease 2s;
      }
    }

    input, textarea {
      border: 1px solid transparentize(#b59fcc, 0.25);
      border-radius: 20px;
      padding: 8px 16px;
      resize: none;

      &::-webkit-input-placeholder {
        color: darken(#e8e2ef, 10%);
      }
    }

    label {
      margin-bottom: 8px;
      padding-left: 16px;
    }

    input {
      margin-top: 10px;
      margin-bottom: 10px;
    }

    .city, .state {
      display: inline-block;
      width: 48%;
      box-sizing: border-box;

    }

    .city {
      margin-right: 2%;
    }

    .state {
      margin-left: 2%;
    }

    .row {
      font-size: 0;
    }
  }

  .action {
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    margin-top: 30px;
  }

  .button {
    min-width: 30%;
    width: auto;
    border-radius: 100px;
    padding: 12px 24px;
    margin: 0 auto;
    color: white;
    font-size: 20px;
    background-color: transparentize(#573082, 0.2);
  }
}
