#header-wrapper {


  // theme
  background-color: #b59fcc;
}

#header {

  // uncollapse the margins
  padding-top: 1px;
  padding-bottom: 1px;

  // layout
  display: flex;
  width: 960px;
  margin: 0 auto;
  height: 60px;

  h1, nav {

    color: white;

    // layout
    line-height: 60px;
    margin: 0;
  }

  h1 {
    font-weight: 600;

    a:hover {
      text-decoration: none;
    }
  }

  a {
    color: white;
    text-decoration: none;
    margin-left: 10px;
    display: inline-block;

    &:hover {
      text-decoration: underline;
    }
  }

  nav {

    box-flex: 1;
    text-align: right;
  }
}