#header-wrapper {


  // theme
  background-color: #393939;
}

#header {

  // uncollapse the margins
  padding-top: 1px;
  padding-bottom: 1px;

  // layout
  display: flex;
  width: 960px;
  margin: 0 auto;
  height: 60px;

  h1, nav {

    color: white;

    // layout
    line-height: 60px;
    margin: 0;
  }

  h1 {
    font-weight: 600;
    font-size: 34px;

    a {
      color: saturate(#98c6b8, 10%);
    }

    a:hover {
      text-decoration: none;
    }
  }

  a {
    color: white;
    text-decoration: none;
    display: inline-block;

    &:hover {
      text-decoration: underline;
    }
  }

  nav {

    box-flex: 1;
    text-align: right;

    span {
      font-size: 34px;
    }

    a {
      margin-left: 15px;
    }
  }
}