#pricing {
  width: 960px * (10 / 12.0);
  margin: 0 auto;
  padding: 50px 0;

  h1 {
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    user-select: none;
  }

  ul {
    list-style-type: none;
  }

  li {
    background-color: saturate(lighten(#98c6b8, 15%), 20%);
    margin: 30px 0;
    
    padding: 20px;
    border-radius: 20px;
    cursor: pointer;
    // border: 1px solid #e6e6e6;

    padding-left: 100px;
    background-image: url(/assets/check.png);
    background-repeat: no-repeat;
    background-size: 60px;
    background-position: 20px 50%;

    &.disabled {
      background-color: lighten(#e6e6e6, 6%);  
      background-image: url(/assets/check_disabled.png);
    }

    h3, p {
      pointer-events: none;
      user-select: none;
    }

    h3 {
      margin: 0;
      font-size: 18px;
      font-weight: 700;
      text-align: left;
      line-height: 1.75em;
    }

    p {
      margin: 0;
    }
  }
}