<!DOCTYPE html>
<html>
<head>
  <title>Legit</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <h1>Legit</h1>
  <nav>
    <a href="Sign in">Sign in</a>
    <a class="sign-up" href="Sign in">Sign up</a>
  </nav>
</header>

<div id="container">
  <%= yield %>
</div>

</body>
</html>
